body{
    margin: 0;
    padding: 0;
    
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: white;
    margin-bottom: 30px;
 }   
 .nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 15px;
    margin-right: 40px;

 }
 .nav-bar{
    display: flex;
    list-style: none;
    gap: 44px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 260px;

 }
 .logo{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 190px;
 }
 .login{
    color: #fa7436;
 }
 a.signup{
    background-color: #fa7436;
    border-radius: 4px;
    padding: 8px 12px;
    color: white;
    text-shadow: 2px 2px 8px #fa7436;
   
 }
 .hero{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
 }
 .hero-content{
    margin: 15px 0px;
   

    
 }
 .hero-content span{
    color: #fa7436;
 }
 button{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    color:#fa7436;
    border-radius: 4px;
    background-color:white;
    border-color: #fa7436;
    position: relative;
    bottom: 130px;
    
    border-color: #fa7436;
    margin-left: 190px;
 }
 .hero.image{
    margin-left: 160px;
    position: relative;
    bottom: 150px;
   
 }
 h1{
   width:100%;
    max-height: 500px;
    margin-left: 190px;
    font-size: 50px;
    position: relative;
    bottom: 160px;
    
}
p{
   position: relative;
    bottom: 130px;
    max-width: 900px;
    max-height: 300px;
    margin-left: 190px;
    font-weight: lighter;
    gap: 5px;
}
/* .container{
   display:flex;
   
 position: relative;
 width: 1000px;
 height: 700px;

}
.loc2{
   color: #666666;
   font-weight: lighter;
   padding-top: 15px;
}
.date2{
   color: #666666;
   font-weight: lighter;
   padding-top: 15px;
}
.gue2{
   color: #666666;
   font-weight: lighter;
   padding-top: 15px;
}
select{
   border: none;
   color: #fa7436;
   position: relative;
   right:4px;
}
label{
   font-size: 17px;
   font-weight: bold;
   padding-top: 7px;
}
.explorer{
  display: inline-block;
}
  */
 .box{
   position: relative;
   left: 260px;
   bottom: 180px;
 } 
.box2{
   display: flex;
   list-style: none;
   gap: 50px;
}
select{
   border: none;
}
.mark1{
   padding-top: 10px;
   font-weight: lighter;
   color: #666666;
}
select{
  color: #fa7436; 
}
.explore{
   background-color: #fa7436;
   padding:16px ;
   color: white;
   border-radius: 4px;
}
.serv2{
   background-color: #f7f8fc;
}

.services {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px ,3fr));
   gap: 20px;
   padding: 50px 20px;
   margin: auto;
   max-width: 950px;
   position: relative;
   bottom: 2px;
}
.service-card{
   background-color: white;
   padding: 25px;
   border-radius: 10px;
}
.para{
   font-weight:lighter;
   color: #666666;
}
.serv1{
   position: relative;
   bottom:150px;
   font-size: 25px;
   text-align: center;}
   .travels span{
      color: #fa7436;
   }
   .travels p{
      position: relative;
      top:1px;
      left:300px;
      max-width: 330px;
      font-size:15px;
color: #666666;
   }
   .travels h2{
         position: relative;
         top: 20px;
         right:110px;
         text-align: center;
         font-size: 35px;
   }
   .travels{
      background-color: #f7f8fc;
      min-height: 30rem;
      padding: 0 2em 2rem;
      width: 100%;
      position: relative;
      bottom: 120px;
      
   }
 